body{
    text-align:left;
font-family:arial ;
    color:#0000ff;
    background-color:#CFC;
    font-style:georgia,cambria,serif;
    font-size:13px;
    width: 600px;
    margin: 0 auto;
    
}

h1 {
    margin:0;
     padding: 20px 0;
  color:#F00;
    font-style:georgia,cambria,serif;
    ---border-bottom: 2px solid #00F;  borde inferior
}



#contenido {
  border: 2px  solid #0F0;
}

#recuadro1{
  box-shadow: 30px 10px 20px #aaa; ----le da efecto sombra
  border-radius: 20px;  
  background-color:#ddd;
  width:300px;
  padding:30px;
  text-align:left;  
  
}



