* {
margin: 0px;
padding: 0px;
}

/*para queno se superpongan los bordes*/
*{
    box-sizing: border-box;
}

#principal   /*es el cuerpo de la pagina es color  gris     **/
{
    /*border:2px black solid ;*/
    width:1200px;
    height: auto;
    background:none;
margin:1px auto;
margin-top: 10px;
padding: 2px;


}

#cabecera {
   /* border:2px yellow solid ;*/
    width:98%;
    height:65px;
    padding-bottom: 4px;
    background:#3498DB ;
    color: white;
    
    /*box-sizing: border-box;*/

}
    
#cabecera  #logo h1 {
  
    /*border:2px yellow solid ; */
    width:30%;
    height: 64px;
    background: #3498DB;
    display: flex;
    font-size: 20ox;
    float:left ;
   line-height: 50px ;
   padding-left: 10px;
}
/**menu principal de lavcabecere*/
#cabecera #menu {
 /*   border:2px yellow solid ; */
    width:40.1%;
    height: 60px;
    background:#3498DB;
    overflow:hidden;  
    display:inline-block; 
    display: flex;
    float:left ;
  line-height:50px ;
 
 }
 #cabecera   ul {
    color: white;
    list-style: none;
    text-align: center;
}
/* aca se definen como aparece el menu osea  el color de la letra tamaño etc*/
#cabecera a{
    color: white;
    width:100px;
    text-decoration:none;
    padding:3px 5px;
    /*display: block; esta opcion ubica las palabras del menu en forma horizontal */
    
}

/* efectos sobre los enlaces en  a    pseudoclases*/
a:link {
  text-decoration: none;   /*elimina el subsayado universal de slos enlaces*/
}
a:visited {
  text-decoration: none;   /*elimina q el enlace fue visitado   */
}
#menuhorizontal a:hover {
  background-color:red;
}
/*hasta aca efectos sobre el mouse*/



#cabecera #redessociales{
   /*border:2px red solid ;*/ 
   /* margin: 10px ; */
    width:27.8%;
    height: 60px;
    background: #3498DB;
    overflow:hidden;  
    padding-top:1px ;
    margin-top:1px ;
    display: flex;
    float:right ;
   /* box-sizing:content-box;*/
}
#menu li{
    display:inline-block; 
    text-align:center ;
   padding-left: 25px;
   padding-right:5px ;
   color: black;
   text-decoration:unset;
   font-size:20px ;

   }

#redessociales li{
   /* border: 2px red solid;*/
    display:inline-block; 
    padding-left: 5px;
  box-sizing:content-box;
}
#redessociales  ul {
    /*border: 2px black solid;*/
     box-sizing: border-box;
    text-align: right;
    padding-left:180px;
   padding-top:10px ;
 line-height:10px;   
}
/*redondea la imagen*/
.redondear{ 
    background:white; 
    border-radius: 50%;
border: 2px white solid;     
}


/*es la parte mas grande  foto el fondo es de color amarillo iria una foto con un mensaje*/
#fotogrande{
    /*border: 2px  gray solid;*/
    width:98% ;
   height:600px ;
   background:white ;
   float: left;
   padding-top:6px ;
}

#fotogrande img{
width: 100%;
    height:600px;;
}



/*parte donde  esta los datos  caja pricipal dentro van 4 cajas */
#cuerpo{
    /*border: 2px  red solid;*/
    width:95% ;
   height:700px;
   /*background:#3498DB ;*/
   float: left;
   padding-top:6px ;
    padding-bottom: 1px;
   /*display: flex;*/
}

#titulo-caja{
   /* border: 1px red solid;*/
    height: 50px;
    display: block;
    text-align: center;
    padding: 10px;
    
}
#cajota{
    /*border:2px black solid;*/
    /*background:orange;*/
    height: 90%;
    width:99.9%;
    margin-bottom:10px ;
    padding:10px ;
   }
#cajota .caj-p{
    /*border: 2px gray solid;*/
    background: white;
    height:99%;
    width: 24.8%;
    display: inline-block;
    padding-bottom: 30px;
    padding-top: 1px;
    margin-bottom:20px ;


}



.caj-p{
   /* border:2px black dashed; */
    display: inline-flex;
    height: 99%;
    width: 297px;
    padding: 5px;
    padding-bottom:8px; 
    float: left;
}

.caja-g{
   
    height:65%;
    border: 2px  gray solid;
}

.caja-ch{
     height:38%;
    border: 2px  gray solid;
}








/*-----------aca enpeieza el pie-------------------------------*/

#pie{
 /*border: 2px  blue solid; */
    width:98% ;
   height:200px ;
   background:#3498DB;
   float: left;
   padding-top:30px ;
   color: white;
     
}
#pie  #cajita1{
   /* border: 2px  blue solid;*/
    width:30% ;
   height:200px ;
   background: #3498DB;
   float: left;
   display: inline-block;  /*alinea el h3 y elparrafo en bloque uno arriba del otro*/
   padding-top:6px ;
}
 #cajita1 h3{
        text-align: center;
        display: flex;
        float:left ;
        padding-left: 80px;
        padding-top:6px ;
        font-size: 20px ;
    }
#cajita1 p{
     text-align: center;
       display: flex;
        padding-top: 10px;
        float:left ;
        text-align:center;
}

 
 #pie #cajita2{
    /*border: 2px  blue solid; */
    width:32.7%;
   height:200px;
   background: #3498DB;
   float: left;
   display:inline-block;/////
   padding-top:6px ;
  }
   #cajita2 h3{
        text-align: center;
        padding-left: 5px;
        padding-top:18px ;
    padding-bottom: 5px;
}


   #cajita2 ul{
       /*border:2px black solid;*/ 
    list-style: none;
    padding-left: 20px;
    text-align: center;
    
   }
#cajita2 ul li{
    box-sizing: border-box;
       /*border:2px black solid;*/ 
    list-style: none;
    padding-left: 120px;
    text-align: center;
    height: 50px;
    
   }
#cajita2 ul li a {
    box-sizing: border-box;
    /*border:2px black solid;*/
   list-style: none;
    padding-left: 10px;
    text-align: right;
    height: 50px;
    margin-right:10px;
    float: left;
   }

#cajita2 ul li a p{
 float: right;
    padding-left:15px; 
    padding-top: 5px;
    
}
    /*seguinos en*/
    
#pie #cajita3{
    box-sizing: border-box;
   /* border: 2px  black solido; */
    width:34% ;
   height:200px ;
   background:#3498DB;
   float: right;
   display: block;
   margin-left: 30px ;
   border-left:30px ;
}

#cajita3 ul{
    list-style: none;
    padding-left: 1px;
    text-align: center;
   /* border: 2px  black solido;*/
}

 #cajita3 h3{
        text-align: center;
         
       /* border:2px black solid; */
        padding-left: 5px;
        padding-top:18px ;
        padding-bottom:5px; 
    }

#cajita3 ul li{
    box-sizing: border-box;
       /*border:2px black solid;*/ 
    list-style: none;
    padding-left: 120px;
    text-align: center;
    height: 50px;
    padding-top:5px; 
    
   }


#cajita3 ul li a {
    box-sizing: border-box;
    /*border:2px black solid;*/
   list-style: none;
    padding-left: 10px;
    text-align: right;
    height: 50px;
    /*margin-right:10px;*/
    float: left;
   }

#cajita3 ul li a p{
    box-sizing: border-box;
 float: right;
    padding-left: 12px;
    /*border: 2px  black solido;*/
    text-align: center;
    
}


#pie #cajita4{
    /*border: 2px  blue solid;*/
    width:100% ;
   height:auto ;
background:#3498DB;
   float:left;
    padding-top: 2px;

   display: flex;
   padding-top:6px ;
  } 
 #cajita4 h4{
    text-align: center;
     padding-left:45%; 
}